<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <h2 class="col-md-12">Login de Usuario<h2>
      <h3 class="col-md-5">Usuario<h3><input type="email" placeholder="Email (xxx@yyy.zzz)" value="{{email::input}}"/>
      <h3 class="col-md-5">Password<h3><input type="password" placeholder="password" value="{{password::input}}"/>
    </div>
    <div class="row">
      <button class="btn btn-success" on-click="login">Login</button>
      <button class="btn btn-info">Logout</button>
    </div>


    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/api_techu/v2/login/"
      content-type="application/json"
      method="POST"
      handle-json="json"
      on-response="manajeAJAXResponse">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
          },
          password: {
            type: String,
          },
          id: {
            type: Number,
          }
        };
      }

      login() {
        console.log("Haciendo login");

        var usuario = { "email" : this.email, "password" : this.password };
        console.log("Datos de login; " + usuario.email );

        //  el $ sirve para seleccionar el shadow dom del elemento polymer
        this.$.doLogin.body = JSON.stringify(usuario);
        this.$.doLogin.generateRequest();
        console.log("Peticion de login enviada");
      }



      manajeAJAXResponse(data) {
        console.log("Respuesta recibida");
        console.log(data);
        console.log(data.detail.response);
      }
    }



    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
