<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="user-accounts">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <h2 class="col-md-12">Cuentas<h2>
        <h3 class="col-md-5">Usuario<h3><input type="text" value="{{id_user::input}}"/>
        <!--
      <h3 class="col-md-5">Usuario<h3><input type="email" placeholder="Email (xxx@yyy.zzz)" value="{{email::input}}"/>
      <h3 class="col-md-5">Password<h3><input type="password" placeholder="password" value="{{password::input}}"/>
      -->
    </div>
    <div class="row">
      <button class="btn btn-success" on-click="getCuentas">Obtener cuentas</button>
    </div>
    <div class="row">

      <h4 class="col-md-5">{{iban}}<h4>
      <h4 class="col-md-2">{{balance}}<h4>
      <h4 class="col-md-1">{{currency}}<h4>
        <!--
      <h3 class="col-md-5">Usuario<h3><input type="email" placeholder="Email (xxx@yyy.zzz)" value="{{email::input}}"/>
      <h3 class="col-md-5">Password<h3><input type="password" placeholder="password" value="{{password::input}}"/>
      -->
    </div>

    <iron-ajax
      id="doGetCuentas"
      url="http://localhost:3000/users/v0/{{id_user}}/accounts/"
      content-type="application/json"
      method="GET"
      handle-json="json"
      on-response="manajeAJAXResponse">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserAccounts extends Polymer.Element {
      static get is() { return 'user-accounts'; }
      static get properties() {
        return {
          id_user: {
            type: Number,
          },
          id_account: {
            type: Number,
          },
          iban: {
            type: String,
          },
          balance: {
            type: Number,
          },
          currency: {
            type: String,
          }
        };
      }

      getCuentas() {
        console.log("Obteniendo las cuentas del usuario; " + this.id_user);

        //  el $ sirve para seleccionar el shadow dom del elemento polymer
        //this.$.doLogin.body = JSON.stringify(usuario);
        this.$.doGetCuentas.generateRequest();
        console.log("Peticion de login enviada");
      }

      manajeAJAXResponse(data) {
        console.log("Respuesta recibida");
        console.log(data.detail.response);

        this.id_account = data.detail.response[0].id_account;
        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;
        this.currency = data.detail.response[0].currency;

      }
    }
    window.customElements.define(UserAccounts.is, UserAccounts);
  </script>
</dom-module>
