<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="vision-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <h1 class="col-md-5">Visor Usuario<h1>
      <h3 class="col-md-3">Nombre; {{first_name}}. Apellidos; {{last_name}}</h3>
      <h3 class="col-md-3">email; {{email}}</h3>
      <h3 class="col-md-3">País; {{country}}</h3>
    </div>
    <p> ------------------------------------ </p>
    <input type="text" value="{{first_name::input}}"/>

    <button class="btn btn-success">Login</button>
    <button class="btn btn-info">Logout</button>

    <iron-ajax
      auto="" id="getUser"
      url="http://localhost:3000/api_techu/v2/users/{{id}}"
      handle-json="json"
      on-response="showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisionUsuario extends Polymer.Element {
      static get is() { return 'vision-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String,
          },
          last_name: {
            type: String,
          },
          email: {
            type: String,
          },
          country: {
            type: String,
          },
          id: {
            type: Number,
          }
        };
      }

      showData(data) {
        console.log(data);
        console.log(data.detail.response);
        console.log("Usuario obtenido; " + data.detail.response[0].id + ", " + data.detail.response[0].last_name);

        this.first_name = data.detail.response[0].first_name;
        this.last_name = data.detail.response[0].last_name;
        this.email = data.detail.response[0].email;
        this.country = data.detail.response[0].country;
      }

    }

    window.customElements.define(VisionUsuario.is, VisionUsuario);
  </script>
</dom-module>
