<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontalproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hola, soy [[prop1]]!</h2>
    <h3>Mi nombre es [[first_name]] y mis apellidos son [[last_name]]</h3>
    <h4>Mi edad; [[age]]</h4>
    <p> ------------------------------------ </p>
    <input type="text" value="{{first_name::input}}"/>
    <input type="range" min="18" value={{age::input}} max="99" />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontalproyectoApp extends Polymer.Element {
      static get is() { return 'frontalproyecto-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'el componente polymer frontalproyecto-app con la propiedad prop1 fijada en definición'
          },
          first_name: {
            type: String,
          },
          last_name: {
            type: String,
          },
          age: {
            type: String,
          }
        };
      }
    }

    window.customElements.define(FrontalproyectoApp.is, FrontalproyectoApp);
  </script>
</dom-module>
